[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] 
django = "*"
djangorestframework = "*"
drf-yasg = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
sentry-sdk = "*"
gunicorn = "*"
django_resized = "*"
django-extensions = "*"
pillow = "*"

[dev-packages]
ipython = "*"
neovim = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
